body{
	margin: 0;
	padding: 0;
	font-family:  georgia;
	background-color: #000;
}

.txt h1{
	font-size: 60px;
	color: rgba(255,255,255,.1);
	background-image: url(paper.jpg);
	-webkit-background-clip: text;
	animation: animate 15s linear infinite;
}

	@keyframes animate{
		0%{
			background-position: left 0px top 10px;
		}
		40%{
			background-position: left 800px top 10px;
		}
	}

.txt{
	margin-top: 17%;
	text-align: center;
}
