#outbox{
	height: 300px;
	width: 500px;
	background-color: #3d6f3d;
}

#cube{
	height: 100px;
	width: 100px;
	line-height: 100px;
	background-color: #ca2020;
	transform: rotate(-30deg) translate(20px, 40px);
	transition: all 2s ease-in-out;
}

#cube:hover{
	width: 200px;
	background-color: red;
	border-radius: 10px;
	transform: scale(0.5);
}

#cube p{
	color: white;
	text-align: center;
	
}