*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.photo {
  display: flex;
  width: 100%;
  padding: 5% 5%;
  margin: 0 auto;
}

.picture {
  display: flex;
  background: white;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 10px 10px 25px rgba(black, .20);
}

.picture + .picture {
  margin-left: 30px;
}

.pic__header {
  background-image: url(sillustani.jpg);
  background-size: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: 25px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0,0,0, .75);
  display: flex;
  transition: top 300ms ease-out,
    left 300ms ease-out,
    bottom 300ms ease-out,
    right 300ms ease-out,;
}

.pic__header:hover {
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
}

.pic__body{
    color: #2a4990;
}

.pic__title {
  font-weight: 300;
  color: #eaa607f2;
  font-size: 3rem;
  line-height: .9;
  position: absolute;
  top: 25px;
  left: 25px;
}

.pic__show-description,
.pic__hide-description {
  background-color: #182246;
  color: white;
  padding: .5em 1.25em;
  border-radius: 10px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: auto;
  transition: transform 500ms ease-out,
    background 200ms ease-out;
}

.pic__show-description:focus,
.pic__hide-description:focus,
.pic__show-description:hover,
.pic__hide-description:hover {
  outline: none;
  background: cornflowerblue;
}

.pic__show-description {
   transition-delay: 500ms, 0ms;
}

.pic__hide-description {
  margin-left: auto;
  transform: translateX(120%);
}

.pic__content {
  position: relative;
  top: 70%;
  padding: 25px;
  height: 50%;
  display: flex;
  flex-direction: column;
}


/* open state */

.pic--open .pic__header {
  bottom: 30%;
  left: 25px;
  right: 25px;
  top: 25px;
}

.pic--open .pic__show-description {
  transform: translateY(300%);
  transition-delay: 0ms;
}

.pic--open .pic__hide-description {
  transform: translateX(0);
  transition-delay: 500ms, 0ms;
}