* { margin: 0; box-sizing: border-box; }
body{
    background-position: center;
    background-size: cover;
}

div{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}    

.bt{
    background-color: #d24f4f;
    border-radius: 12px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 60px;
    width: 160px;
}

.bt:hover{
	background-color: cornflowerblue;
	transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
}

h1{
    font-size: 60px;
    color: #f7ca61de;
    border-color: black;
    text-align: center;
    margin-top: 3%;
   
}

	
