body{
    background-position: center;
    background-size: cover;
}
   

h1{
    text-align: center;
	font-size: 60px;
	color: #f7ca61de;
}

h3{
    text-align: center;
	color: #f7ca61de;
    font-size: 40px;
}

p{
    text-align: center;
	font-size: 30px;
	color: #f7ca61de;
}

#dt{
    text-align: center;
}

.hide{
    display: none;
    padding: inherit;
}

a, li{
    color: coral;
    font-size: 20px;
}

.bt{
    background-color: #d24f4f;
    border-radius: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 160px;
}

.bt:hover{
	background-color: cornflowerblue;
	transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}
