body {
    font: sans-serif;
    background-size: cover;
    }
    
    .container {
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
    }
    
    h2 {
    font-size: 38px;
    font-weight: 500;
    padding: 20px 0 20px;
    text-transform: uppercase;
    color: whitesmoke;
    }
    
    .flightStatus {
    text-align: center;
    width: 100%;
    background: #f9f9f9;
    }
    
    table {
    display: table;
    width: 100%;
    }
    
    th {
    text-transform: uppercase;
    background: #e4e4e4;
    font-weight: 500;
    }
    
    th,
    td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    }
    
    td {
    border-bottom: 1px solid #ddd;
    }
    
    .status {
    background: #09ac4e;
    color: #fff;
    }
    
    .status.onTime {
    background: #758feab8;
    color: #333;
    }
    
    .status.delayed {
    background: #f39c12;
    }
    
    .status.cancelled {
    background: #795548;
    }
    
